.about-section{
  height: 100vh;
  background: #E5E5E5;

}

.about-text {
  position: relative;
}

.about-title {
  color: #741906;
  font-size: 5.6rem;
  font-weight: 600;
  font-family: "lora";
  position: absolute;
  top: 180px;
  left: 13px;
}

.about-description {
  font-size: 2rem;
  line-height: 2.4rem;
}

.about-img{
  justify-self: end;
  align-self: center;
  padding: 5.4rem 0;
  height: 80%;
}

@media only screen and (max-width: 768px) {
  .about-section {
    height: auto;
    padding: 6rem 0;
  }

  .about-title {
    font-size: 3.6rem;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
  }

  .about-text {
    text-align: center;
  }

  .about-description {
    font-size: 1.8rem;
    line-height: 2.4rem;
    padding: 2.4rem;
  }

  .about-img {
    height: 50%;
    padding: 2.4rem 0;
    display: none;
  }
  .about-title {
    left: 50%;
    top: 172px;
}
.blur {
  font-size: 6.8rem;}
}

